<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	
	
	<link rel="stylesheet" href="css/style1.css">

	</head>
	<body>
	
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and
					Login Module</a>
			</div>
		</div>
	</nav>
	
	<section class="ftco-section">
		<div class="container">
			<!-- <div class="row justify-content-center"> -->
				<!-- <div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Login #04</h2>
				</div> -->
			<!-- </div> -->
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
					
						 <!-- <img class="img" style="background-image: url(images/bg-1.jpg);"> -->
				 <img class="img" src="images/shopper.jpeg" alt="no"/>
			     
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Sign Up</h3>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
			      	</div>
							<form th:action="@{/registration}" method="post" th:object="${user}">
					
					<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to our awesome app!</div>
				</div>
			      		<div class="form-group mb-3">
			      			<label class="label" for="firstName">FirstName</label>
			      			<input type="text" id ="firstName" name = "firstName" class="form-control" th:field="*{firstName}" placeholder="FirstName" required="required"/>
			      		</div>
						<div class="form-group mb-3">
			      			<label class="label" for="lastName">LastName</label>
			      			<input type="text" id ="lastName" name = "lastName" class="form-control" placeholder="LastName" required>
			      		</div>
						 <div class="form-group mb-3">
		            	<label class="label" for="email">Emailid</label>
		              <input type="email" class="form-control" id="email" th:field="*{email}" name="email" placeholder="Emailid" required>
		            </div>
		            <div class="form-group mb-3">
		            	<label class="label" for="password">Password</label>
		              <input type="password" class="form-control" id="password" th:field="*{password}" name="password" placeholder="Password" required>
		            </div>
		            <div class="form-group">
		            	<button type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary rounded submit px-3">Sign Up</button>
		            </div>
		            <div class="form-group d-md-flex">
		            	<div class="w-50 text-left">
			            	<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
										</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="#">Forgot Password</a>
									</div>
		            </div>
		          </form>
		          <p class="text-center">Not a member?  <a href="/" th:href="@{/login}">Sign In</a></p>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

